<h1>Items</h1>
<nav>
  <ul>
    <li>
      <%= link_to "New item", new_item_path %>
    </li>
  </ul>
</nav>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Sell-in</th>
      <th>Quality</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.sell_in %></td>
        <td><%= item.quality %></td>
        <td><%= item.updated_at.to_s(:db) %></td>
        <td><%= button_to "Delete", item, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Update Quality", items_update_quality_path %>
