<h1>New item</h1>
<%= form_for @item do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :sell_in %>
    <%= f.text_field :sell_in %>
  </div>
  <div>
    <%= f.label :quality %>
    <%= f.text_field :quality %>
  </div>

  <%= f.submit "Create item" %>
<% end %>
